<mat-form-field appearance="outline">
    <mat-label>Latitude</mat-label>
    <input
        matInput
        type="number"
        [(ngModel)]="latitudeInput">
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Longitude</mat-label>
    <input
        matInput
        type="number"
        [(ngModel)]="longitudeInput">
</mat-form-field>

<button
    mat-icon-button
    (click)="onSearchElastic()"><mat-icon>search</mat-icon></button>

<br>
<div>
    <!-- <p *ngIf="expression">No Results found.  Try to widen your search!</p> -->
    <h3 *ngIf="currentlySearching">Searching ...</h3>
    <app-scene-item *ngFor="let item of sceneItems; let i = index" [scene]="item"></app-scene-item>
</div>

