<label>Latitude</label>
<input
    type="text"
    class="form-control"
    [(ngModel)]="latitudeInput">

<label>Longitude</label>
<input
    type="text"
    class="form-control"
    [(ngModel)]="longitudeInput">


<p>{{latitudeInput}}</p>
<p>{{longitudeInput}}</p>

<button
    class="btn btn-primary"
    (click)="onSearchElastic()">Search!</button>

<!-- <p *ngIf="expression">No Results found.  Try to widen your search!</p> -->
<h3 *ngIf="currentlySearching">Searching ...</h3>

<app-scene-item *ngFor="let item of sceneItems; let i = index" [scene]="item"></app-scene-item>